---
const personalImageAlt = "Pedro Fernandez picture";
---

<article class="flex flex-col md:flex-row gap-8 justify-center items-center">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
  >
    <p>
      Mi nombre es Pedro Fernández, y desde hace más de 2 años me dedico a la
      programación. Conocí este mundo hace 10 años, cuando estudié Ingeniería
      Informática. Y sí, no la terminé, pero aprendí algo importante y es que <strong
        >resolver problemas y desarrollar soluciones me gustaba</strong
      >.
    </p>

    <p>
      Hoy, después de 8 años trabajando en un sector no relacionado con la
      tecnología, he finalizado DAW y ya son <strong
        >más de 2 años desarrollando proyectos.</strong
      >.
    </p>

    <p>
      Mi otra gran pasión son las montañas, que <strong>
        me gusta explorar ya sea haciendo trail running, escalando o simplemente
        caminando</strong
      >. Es un espacio de calma, y muchas veces donde encuentro la inspiración
      para resolver problemas.
    </p>
  </div>

  <img
    src="/pedro.webp"
    class="rounded-full size-64 order-1 md:order-2"
    alt={personalImageAlt}
  />
</article>
